<form [formGroup]="userForm" 
      (ngSubmit)="send()">

  <div class="from-group">
    <label>name</label>
    <input type="text" 
           required
           formControlName="name"
           class="form-control">
    <small *ngIf="name.invalid" 
           class="form-text text-danger">Validation msg</small>
  </div>

  <div class="from-group">
    <label>Email</label>
    <input type="text"
           upUnique
           formControlName="email"
           class="form-control">
    <small *ngIf="email.pending" class="form-text">Validation in process...</small>
  </div>

  <!-- <div class="from-group">
    <label>Size</label>
    <select class="form-control"
            formControlName="size">
      <option value="small">small</option>
      <option value="medium">medium</option>
      <option value="large">large</option>
    </select>
  </div> -->
  <up-size></up-size>

  <div class="from-group mt-3">

      <button class="btn btn-primary mr-3" 
      type="submit">Send</button>

      <button class="btn btn-danger"
      (click)="reset()" 
      type="button">Reset</button>

  </div>
  

</form>
